<%- include ('partials/header') -%>

<iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/15062300/activity-summary/f8d73d48b28ffaa6fc39de45e21a572434aeafc5'></iframe>
<a href="/" class="btn btn-primary" id="bike-btn">Back Home</a>


<%- include ('partials/footer') -%>